@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
    /* colors */
    --bg-color: #fff;
    --section-color: #F6F6F6;

    /* text colors */
    --main-color: #AED29D;
    --text-color: #000;
    --sub-color: #929292;
    --button-color: #fff;
    --fdnd-color: #68e4bc;

    /* fonts */
    --main-font: Arial;
    --second-font: 'Koulen';

    /* font sizes */
    --size-xxl: 3.75rem;
    --size-xl: 3rem;
    --size-lg: 2.625rem;
    --size-md: 2.5rem;
    --size-sm: 2rem;
    --size-s: 1.75rem;
    --size-xs: 1.5rem;
    --size-xxs: 1.25rem;
    --size-default: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

