<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recep x FDND</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <!-- Hero Section -->
    <section class="hero-container">
        <div class="hero-content">
            <div class="grid2"> 
                <div class="buttons">
                    <ul>
                        <a href="#about"><li>About</li></a>
                        <a href="#journal"><li>Journal</li></a>
                        <a href="#portfolio"><li>Portfolio</li></a>
                    </ul>
                </div>
            </div>
            <div class="grid1"> 
                <img src="src/test1.png" alt="pic-1">
                <h2>We Introduce</h2>
                <h1>Recep Yildiz</h1>
            </div>
        </div> 
    </section>

    <!-- About Section -->
    <section class="about-container" id="about">
        <section class="about-content">
            <h2>About Me</h2>
            <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem consequatur facilis voluptas numquam molestias quaerat inventore praesentium illo dolor.</p>
            <p class="quote">Lorem ipsum dolor sit amet.</p>
        </section>
    </section>

    <!-- Journl Section -->
    <section class="journal-container" id="journal">
        <h2>My Journal</h2>
        <section class="carousel-container" aria-label="Text carousel">
            <article class="card">Card 1: Lorem</article>
            <article class="card">Card 2: Lorem</article>
            <article class="card">Card 3: Lorem</article>
        </section>
    </section>

    <!-- Portfolio Section -->
    <section class="portfolio-container" id="portfolio">
        <h2>Portfolio</h2>
        <section class="portfolio">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
        </section>
    </section> 

    <!-- Footer -->
    <footer>
        <h2 class="name">Recep</h2>
        <h2>x</h2> 
        <h2 class="fdnd">FDND</h2>
    </footer>
</body>
</html>